header{
    background: #14b452;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 3em; 
    margin: auto;
    padding: .5em ;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
body{
    background: #c2c2c2;
    flex-basis: 1em;
    flex-wrap: wrap;
}
.aboutsomething{
    margin: 2em;
    padding:0.5em;
    display: flex;
    flex-direction:row;
   justify-content:center;
}

#person1{
    border: 0.5em solid orange;
    border-radius: 1em;
    background: rgb(243, 201, 123);
    margin: 1em;
    margin-left:2em; 
    padding: 0.5em;
}
#person2{
    border: 0.5em solid purple;
    border-radius: 1em;
    background: rgb(255, 135, 255);
    margin: 1em;
    padding:0.5em;
}
#person3{
    border: 0.5em solid green;
    border-radius: 1em;
    background: rgb(137, 255, 137);
    margin: 1em;
    padding: 0.5em;
}
#person4{
    border: 0.5em solid pink;
    border-radius: 1em;
    background: rgb(252, 224, 228); 
    margin: 1em;
    margin-right: 3em;
    padding:0.5em;
}

.flower{
    border: 0.25em solid whitesmoke;
    border-radius: 0.5em;
    box-shadow: 0em 0.2em 0.4em 0em rgb(150, 150, 150), 0 0.4em 10em 0 gray;
    justify-content: center;
    height: 13em;
    width: 13em;
    margin-bottom: 1em;
}
.flower:hover{
    box-shadow: 0em 0.2em 0.4em 0em rgb(22, 22, 22), 0 0.4em 10em 0 rgb(182, 180, 180);
}